body{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	height:100vh;
	display: flex;
	flex-direction: column;
}
.site-title{
    font-family:'Rubik Iso', cursive;
}
.github{
    display: flex;
    justify-content: space-between;
}
.unstyled-link{
    text-decoration: none;
}

.footer{
	width: 100vw;
	margin-top: auto;
}